h1 {
    text-align: center;
    padding-top: 15px;
}

.form-row {
    padding: 0px 0px 5px 0px;
}

.footer {
    margin-top: 25px;
    text-align: center;
}

#urlMalformAlert {
    font-size: 15px;
    color: red;
}